body {
	background-image: url('../images/index-bg.jpg');
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
	background-position: 50% -10%; 
}

/*fonts*/
.sz-zsix {
	font-size: 0.6em;
}

.sz-zseven {
	font-size:0.7em;
}

.s-nine {
	font-size: 0.9em;
}

.txt-white {
	color:#ffffff;
}

.txt-blue {
	color:#002b5e;
}

.txt-yellow {
	color:#f9bb08;
}

.regular-monts {
	font-weight: 400;
}

.bold-monts {
	font-weight: bold;
}

.light-monts {
	font-weight: 300;
}

.thin {
	font-weight: 100;
}

/* background colors */
.bg-red {
	background-color: #bc2b2b;
}

.bg-red-db {
	background-color: #e84234;
}

.bg-yellow {
	background-color: #e0a30a;
}

.bg-yellow-db {
	background-color: #f9bb08;
}

.bg-green {
	background-color: #298940;
}

.bg-green-db {
	background-color:#32a852;
}

.bg-blue {
	background-color: #366fc1;
}

.bg-blue-db {
	background-color: #4284f4;
}


/*helpers*/
.blank {
	padding: 0;
	margin:0;
}

.separator {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin-left: auto;
  margin-right: auto;
	position: relative;
}

.p-bootom {
	padding-bottom: 1.2em;
}
.p-small {
	padding:0.1em 0.6em 0.1em 0.6em;
}

.line-rounded {
	-webkit-border-radius: 62px 62px 62px 62px;
  border-radius: 62px 62px 62px 62px;
}

.border-radius-r {
	-webkit-border-radius: 0 62px 62px 0;
  border-radius: 0 62px 62px 0;
}

.border-radius-l {
	-webkit-border-radius: 62px 0 0 62px;
  border-radius: 62px 0 0 62px;
}


.page-container {
	position: relative;
	width: 100%;

}

.page-menu {
	background-color:#002b5e;
	position: relative;
}

.page-menu img {
	height: 80px;
	width:80px;
	position: absolute;
	top: 0;
	margin:0;
	right: 3em;


}

img.logo {
	width:130px;
	height: 42px;
	margin-left: -2em;
	padding: 0;
}

.page-info {
	position: relative;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 3em;
	text-align: center;
	position: relative;
	padding: 0;
	width: 65%;
	background-color: #fff;
	-webkit-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow:  2px 2px 7px 1px #bbb5b5;
  box-shadow:  2px 2px 7px 1px #bbb5b5;
}

.schedule {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
}


.schedule-line {
	content: '';
	width: 85%;
	height: 0.5em;
	margin-left: auto;
  margin-right: auto;
	position: relative;
}


.schedule-line-red {
	background: #c11010; /* Old browsers */
	background: -moz-linear-gradient(right, #c11010 0%, #c11010 71%, #e84234 71%, #e84234 71%, #e84234 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(right, #c11010 0%,#c11010 71%,#e84234 71%,#e84234 71%,#e84234 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #c11010 0%,#c11010 71%,#e84234 71%,#e84234 71%,#e84234 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c11010', endColorstr='#e84234',GradientType=0 ); /* IE6-9 */
}


.schedule-title {
	margin-top: 1em;
	font-weight: bold;
}

.schedule-btn {
	font-weight: 300;
}

.schedule-btn a {
	color:#fff;
	padding-left: 0.9em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	cursor:pointer;
}

.schedule-btn a span {
	font-weight: bold;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.page-info-title {
	text-align: center;
	margin-left: auto;
  margin-right: auto;
  padding-top: 1.2em;
  width: 100%;
	background-color: rgba(241, 241, 240, 0.54);
}

.page-info-title h2 {
	letter-spacing: -0.1em;
}

.page-footer {
	width: 100%;
	padding: 1.5em;
	background-color: rgba(2, 58, 86, 0.87);

}


.logo-cam {
	height: 40%;
	width: 40%;
	margin-left: auto;
  margin-right: auto;
}

.logo-cam a {
	font-weight: bold;
	display: block;
	margin-top: -1em;
	margin-bottom: 1em;
}
.page-footer p {
	text-align: justify;
  text-justify: inter-word;
  margin-top: 0;
}

.page-footer-notice h3 {
	margin: 0;
}

.footer-telephone {
	margin-top: 2em;
}

.footer-email {
	margin-bottom: 2.5em;
}

